{
  "experimentalTernaries": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": "src/app/**/*.html",
      "options": {
        "attributeGroups": ["$ANGULAR"],
        "parser": "angular"
      }
    },
    {
      "files": ["tsconfig.json", "tsconfig.*.json"],
      "options": {
        "parser": "jsonc"
      }
    }
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderTypeScriptVersion": "5.4.0",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "attributeSort": "ASC"
}
