<div class="chart">
  <div class="chart-wrapper">
    <div class="chart-bg-scale">
      @for (oneTickValue of yAxisTicks(); let isLast = $last; track oneTickValue) {
        @if (!isLast) {
          <span class="chart-y-axis-bg-tick"></span>
        }
      }
    </div>

    <div class="chart-content">
      @for (oneDataSet of groupedDataEntriesY(); track oneDataSet.x) {
        <div class="chart-bars">
          @for (oneBarData of oneDataSet; let index = $index; track oneBarData) {
            <div class="{{ index | chartBarColor }} chart-data-bar" [style.height.%]="oneBarData.y">
            </div>
          }
        </div>
      }
    </div>
  </div>

  <ul class="chart-x-axis">
    @for (oneDataSetXLabel of groupedDataEntriesX(); track oneDataSetXLabel) {
      <li class="chart-x-axis-label">
        <span>{{ oneDataSetXLabel }}</span>
      </li>
    }
  </ul>

  <ul class="chart-y-axis">
    @for (oneTickValue of yAxisTicks(); let index = $index; let count = $count; let isLast = $last; let isFirst = $first; track oneTickValue) {
      @if (!isLast) {
        <li class="chart-y-axis-tick">
          <span
            class="y-tick-label"
            [ngClass]="{'max-y-tick-label': isFirst}"
          >
            {{ oneTickValue | number }}
          </span>

          @if (index + 1 === count - 1) {
            <span class="y-tick-label min-y-tick-label">{{ yAxisTicks()[count - 1] | number }}</span>
          }
        </li>
      }
    }
  </ul>
</div>

<div class="chart-legend flex justify-center">
  <ul class="flex gap-4">
    @for (oneItem of legend(); let index = $index; track oneItem) {
      <li class="flex gap-2 items-center">
        <span class="{{ index | chartBarColor }} inline-block size-2 rounded-full"></span>
        <span>{{ oneItem }}</span>
      </li>
    }
  </ul>
</div>
