<div class="chart-wrapper {{ cssClass() }}">
  <div class="y-axis-wrapper">
    <ul class="y-axis">
      @for (oneTickValue of yAxisTicks(); let index = $index; let count = $count; let isLast = $last; let isFirst = $first; track oneTickValue) {
        @if (!isLast) {
          <li class="y-axis-tick">
          <span
            class="y-axis-tick-label"
            [ngClass]="{'max-y-axis-tick-label': isFirst}"
          >
            {{ oneTickValue | number }}
          </span>

            @if (index + 1 === count - 1) {
              <span
                class="y-axis-tick-label min-y-axis-tick-label">{{ yAxisTicks()[count - 1] | number }}</span>
            }
          </li>
        }
      }
    </ul>
  </div>

  <div class="flex-1 flex flex-col gap-4">
    <div class="chart-pane-wrapper">
      <ul class="chart-bg-scale">
        @for (oneTickValue of yAxisTicks(); let isLast = $last; track oneTickValue) {
          @if (!isLast) {
            <li class="chart-bg-scale-tick"></li>
          }
        }
      </ul>

      <div class="chart-content-wrapper">
        <div class="chart-content">
          @for (oneXDataSeries of xAxisData() | keyvalue; track oneXDataSeries.key) {
            <div class="chart-bars-group">
              <div class="chart-bars">
                @for (itemData of oneXDataSeries.value; track itemData) {
                  <div
                    [style.height.%]="itemData.y"
                    class="data-bar {{ seriesLabelColorClass()[itemData.seriesName] }}"
                    [title]="itemData.seriesName"
                  ></div>
                }
              </div>

              <div class="x-tick-label">{{ oneXDataSeries.key }}</div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="legend">
  @for (seriesName of seriesLabels(); let index = $index; track seriesName) {
    <div class="legend-item">
      <span
        class="legend-item-icon {{ seriesLabelColorClass()[seriesName] }}"></span>
      <span>{{ seriesName }}</span>
    </div>
  }
</div>

