/** General Layout Definition **/
.chart-wrapper {
  @apply flex gap-12;
  --x-axis-height: 40px;
}

.y-axis-wrapper {
  @apply ms-4;
  margin-bottom: calc(var(--x-axis-height));
}

.chart-pane-wrapper {
  @apply flex-1 relative;
}

.chart-content-wrapper {
  @apply absolute size-full overflow-x-auto;
}

.chart-content {
  @apply size-full flex gap-8;
}

/** Chart bars **/
.chart-bars-group {
  @apply flex-1 flex flex-col;
}

.chart-bars {
  @apply flex-1 justify-center flex gap-2 items-end;
}

.data-bar {
  @apply w-5 rounded-t-md cursor-pointer hover:opacity-85;
}

/** X Axis **/
.x-tick-label {
  @apply flex items-center justify-center font-thin;
  height: var(--x-axis-height);
}

/** Chart bg scale **/
.chart-bg-scale {
  @apply flex flex-col absolute left-0 right-0 top-0;
  bottom: var(--x-axis-height);
}

.chart-bg-scale-tick {
  @apply flex-1 odd:bg-slate-50 border-t border-slate-200;
}

.chart-bg-scale-tick:last-of-type {
  @apply border-b;
}

/** Y Axis **/
ul.y-axis {
  @apply h-full flex flex-col text-end font-thin;
}

li.y-axis-tick {
  @apply flex-1 flex flex-col;
}

.y-axis-tick-label {
  @apply leading-none;
}

.y-axis-tick-label:not(.max-y-axis-tick-label):not(.min-y-axis-tick-label) {
  @apply relative -top-2;
}

li.y-axis-tick:last-of-type {
  @apply justify-between;
}

/** Legend **/
.legend {
  @apply mt-4 flex flex-wrap gap-8 justify-center font-thin;
}

.legend-item {
  @apply flex gap-2 items-center;
}

.legend-item-icon {
  @apply inline-block size-2 rounded-full;
}
